body{
    background-color: rgb(13, 119, 119);
}
header{
    display: flex;
    background-color: blanchedalmond;
    flex-direction: row;
    padding: 5px;
    align-content: center;
    justify-content: space-between;
}
.features{
    padding: 2%;
}
nav ul{
    list-style-type: none;
  }
  nav a{
    text-decoration: none;
  }
  nav ul li{
    display: inline-block;
    padding: 10px;
  }
  .features{
    padding: 3%;
  }
  .features ul li{
    display: inline;
  }