
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
  list-style: none;
}
nav ul{
  list-style: none;
}
nav a{
  text-decoration: none;
}
nav ul li{
  display: inline-block;
  padding: 10px;
}
.features{
  padding: 3%;
}
.features ul li{
  display: inline;
}
nav a.is-active{
  font-weight: bold;
  pointer-events: none;
  background-color: rgb(133, 46,60);
  color: pink;
}
img{
  padding: 6%;
  height:70px;
  width:90px;
  border-radius: 20px;
  box-shadow: 5px;
}